@import url("https://fonts.googleapis.com/css2?family=Asul&family=Lobster&family=Oswald:wght@500&family=Roboto:ital,wght@0,300;1,400&family=Zen+Antique+Soft&family=Zen+Old+Mincho:wght@700&display=swap");
* {
  margin: 0;
  padding: 0px;
}

body {
  background-color: #f7f7f7;
  font-family: sans-serif;
}
.header {
  top: -9px;
  position: sticky;
}
/* Start Header */
.header_bg_color {
  background-color: #8444df;
  margin-top: 0px;
  padding: 14px;
}
.logo {
  color: white;
  font-size: 27px;
}
.logo_header {
  color: white !important;
}
.right_item {
  margin-left: auto;
  display: flex;
  padding-right: 22px;
  justify-content: space-between;
}
.right_item a {
  color: white !important;
}
.toggle {
  background-color: #9d69e5;
  color: white;
}
.nav-link {
  color: white;
  padding: 12px;
  border-radius: 15px;
}
.nav-link:link {
  color: tomato !important;
}
.nav-link:hover {
  background-color: #9d69e5;
  color: white;
  padding: 8px;
  border-radius: 15px;
  transition: 0s;
}
.right_item li {
  margin-right: 34px;
  font-weight: bold;
}
/* End Header */

/* start Home */
.home_row {
  margin-top: 90px;
  height: 500px;
  margin-bottom: 100px;
}
.homeimg {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid #9d69e5;
  border-bottom-color: aqua;
  border-right-color: #8444df;
  box-shadow: 10px 10px 10px 10px grey;
}
.col_info {
  margin-top: 12px;
}
.col_info span {
  color: #8444df;
  font-weight: 22px;
  font-family: "Asul", sans-serif;
}
.col_info p {
  font-size: 23px;
}

.icon {
  padding: 9px;
  background-color: white;
  color: #8444df;
  font-size: 27px;
  border-radius: 15px;
  margin-left: 12px;
  box-shadow: 2px 2px 2px 2px rgb(230, 230, 230);
}
.icon:hover {
  color: white;
  background-color: #8444df;
}

@media screen and (max-width: 425px) {
  .home_row {
    margin-top: 10px;
  }
  .col_info {
    margin-top: 22px;
  }
  .home_row {
    margin-bottom: 180px;
  }
}

@media screen and (max-width: 320px) {
  .homeimg {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 3px solid #9d69e5;
    border-bottom-color: aqua;
    border-right-color: #8444df;
    box-shadow: 10px 10px 10px 10px grey;
  }
  .home_row {
    margin-bottom: 150px;
  }
}

/* End Home */
/* Start About */
.about_div {
  margin-top: 12px;
  margin-bottom: 130px;
}
.about_text {
  margin-left: 12px;
  margin-top: 12px;
  font-family: "Asul", sans-serif;
  border-bottom: 2px solid #8444df;
}
.about {
  background-color: #ffffff;
  padding: 19px;
  border-radius: 15px;
  font-size: 1.7rem;
}
.color_text {
  color: #8444df;
  font-size: 28px;
}
@media screen and (max-width: 320px) {
  .about_div {
    margin-bottom: 100px;
  }
}

/* End About */
/* Start Skills */
.skills {
  background-color: #ffffff;
  border-radius: 15px;
  font-size: 0.7rem;
}
.skill_container {
  margin-bottom: 22px;
}
.skills_text {
  margin-left: 12px;
  margin-top: 1px;
  font-family: "Asul", sans-serif;
  border-bottom: 2px solid #8444df;
}
.li_item {
  display: inline-block;
  margin-left: 55px;
  margin-top: 90px;
  margin-bottom: 60px;
  padding: 12px;
  padding-bottom: 0px;
  border-radius: 18px;
  box-shadow: 3px 3px 3px 3px rgb(230, 230, 230);
}
.li_item img {
  width: 55px;
  height: 55px;
}
.li_item p {
  background-color: #ffffff;
  padding: 0px;
  border-radius: 15px;
  font-size: 1.1rem;
}
@media screen and (max-width: 320px) {
  .li_item {
    margin-left: 16px;
  }
}
/* End Skills */
